language: ruby
rvm:
- 2.4.4
deploy:
  provider: heroku
  api_key:
    secure: REcOlBvxnuBpCdsOtOZhonVEHikwJ59YamPjUc7ogQg2PipjSskoplc/0Nb4d1skxs/LCrsmpmcfyICxyqSsFJ2C8A+NRMn3kfRsI2qMpvx7KuPvtVRh18sge4OijJ41Euf3gHC+8lDwxPv6rp6xwWE8LaFgKtJyoMPQuVzVCgDMY3kGVDWIrsSwBMRnPBpI3UvG/Z2c8FSLRetcJfR72g0BsDyuksyGnmAn/mjKsfA1SdpS4PQOTrbz/aAlS7xbDSgOlA8/VZwWmyW3PFhJu2ony9Eoh/LTDykMVfxySdPxvnI9qMV51G9f9Kz4LAZz+8D4Kx5OHftXNVjtFiv/Ymx43owfqEx1XkPjWvR0YPCDqEYvhOJGjzWm8jkIu2VwPSBvPjN2te8S94Qsv9wXBFykAkla/w6XFh1EFFZjPfcw4Iqm84g1rHMJlvYj11ElfXdMULDtYBeCHbAU+DkzLenuIsKk4j/zncJReOoxXl6+ElR5cndDe1Ra+iz7VofhO3BBBKxbMEPMKPRpBet4hnBIjKWI6ypbp2uAVgJxuiLnpIfu9OHmnTNvSFU7rtG/3yeMBkRs7CvN+uBlNX4VNvR+tMFBDTLsIJAGVzBW0q1dZv8hw2m8GtuTyXK8KTZqpwkLZP29iNmAb/gdiytf4GsCNhXbRh345R9lnPKmlk4=
  app: pizzaelliot
  on:
    repo: elliothrn/projet
