language: ruby
rvm:
- 2.4.4
deploy:
  provider: heroku
  api_key: 
    secure: L7aUNABKlICHXmZ/bXt5+4m0DfdFdR19XTQ7G0dB6nLxdy6lpgvaJVC1bl9aCH3+3Kw8Kn6aITOI9qTNqOJbxJIzsL44BscunYxxaPcfpq8i1WuB3rU/J4kw5r1bKtuT7nbuXB1k7z1oapffIy6LhBCiAzkdHeaOL6I3lZ5r2y+kKweeGl0JwSCsvzz184fg8hesWircQvw86dK8Q/abwhA8u3103v2v5uOqUzXuHk082rcAs22lhdRN5NY5Togv6Dl9xSHq8RoAHVYPf6Z8FgGhv/hGCV1AuKSAFakjXNekBDJ2Pm2VguLs8efpBvj+6LRisiABKqpT2J4hv+kW9NTOVi2tmvXA0GuLwL5yzn3Q+bghiASrHaPKPGRYa5AgN0yv702O59JXGG9vmJh+lmkjZ3oREnV0AdOyuwiYdKH0SqIORkyt7O0lFDZM3LXWGVXFKQV1H2Es73qdjyluWByogEE8/F9f4ign6FLMnBHcatb5x8kjpv3J/rbkUStyp97EiyB4fVimPZwcnMkPNP5g34gVhtJHOU9EnSwYybBu/BR+OjRcpTvdfjbZapSOIsloksYBAchRDJmnkjWcGm7zBEastjEfUPsYSulzsNOzONcCOMI6OmPh0/RN9H3nMGTAZRqOalLGJanleX8wGDfPBB1w0PqkWYBIFAiJqZ8=
  app: pizzaelliot
  on:
    repo: elliothrn/projet
